<%- include("../partials/header") %> 

<div class="container-fluid row-lg-12 col-lg-8 col-sm-12">
  <div  class="jumbotron col-md-8">
    <div class="row">
      <div class="col-12" id="startingHeader">
        <!-- alert banner for 'nothing added to list to decide between' -->
        <div id='alertBanner' class="alert alert-dark alert-dismissible fade show hidden" role="alert">
          <strong>Nothing to decide between!</strong> Make sure to add things to the decsion list before moving on!.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span id="1" aria-hidden="true">&times;</span>
          </button>
        </div>
        <h1 class="display-4">Let's get Started!</h1>
        <p class="lead">Enter the places you are deciding between below...</p>
      </div>


      <div id="result" class="col-12 resultHeader">
        <!-- alert banner for nothing left to remove -->
        <div id='resultBanner' class="alert alert-primary alert-dismissible fade show hidden" role="alert">
          There's nothing left to remove!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row">
          <div class="col-12">
            <h1 id="resultTitle">Looks like its </h1>
          <h6 class="card-subtitle mb-2 text-muted result">Not really feeling that one?</h6>
          <p class="card-text">We can always count this one out and go again...</p>
          <hr>
          </div>
    </div>      
          <!-- remove selected item from the array and re run -->
        <div class="row">
          <div class="resultLinks col-12" id="resLinks">
            <form action="/results" id="goForm" method="POST">
              <input type="hidden" id="answer" name="choice" value="">
              <!-- <input type="submit" id="go" class="btn btn-secondary"> -->
              <a href="#" id="go" class="card-link">Get directions</a>
              <a href="#"  id="reRoll" class="card-link">Lets try again...</a>
            </form>
          </div>
        </div>
          
        </div>
      </div>
    
    <hr class="my-4">

      <div id="searchDiv" class="row">
        <div class="col-8">
          <div class="input-group mb-3" id="searchBar">
            <div id="input-group" class="input-group-append">
              <input id="searchBarInput" type="text" name="places" class="form-control" placeholder="Sushi" aria-label="Example text with button addon" aria-describedby="button-addon1" maxlength="40">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">+</button>
            </div>
         </div>
         </div>
         
        
        
      </div>
      <div id="goDiv" class="row">
        <div class="col-6">
          <button id="decideBtn" class="btn btn-primary" type="button" id="button-addon1">Let's Decide!</button>
        </div>
      </div>
    <!-- list for visible choices -->
      
    <ul>
    </ul>
    <div>
    </div>
    <div id="bottomTextDiv" class="row">
      <div  class="col-10">
          <p>Let the machine monkeys make that hard decision easy for you...</p>
    </div>
    </div>
    
</div>

</div>

<script>

var delay = 1500;
var vals = ['Tacos', 'Burrito', 'Burgers', 'Nachos', 'Thai Food', 'Italian', 'Chinese Food'];
var input = document.getElementById('searchBarInput');

for (var i = 0; i < vals.length; i++) {
    set(vals[i], i * delay);
}

function set(v, d) {
    setTimeout(function () {
        setInterval(function () {
            input.setAttribute('placeholder', v);            
        }, delay * vals.length);
    }, d);
}


  var randomNum = []
  var data = []
// add item to decison list from input
$("input[type='text']").keypress(function(event){
  if(event.which === 13 ){
    var decisionList = $(this).val();
    // add item as an li
    $(this).val("");
    $("ul").append("<li>" + decisionList + "</li>")
    data.push(decisionList)
  }
});


$('button[id=button-addon2]').click(function(){
  if($("input[type='text']").val() == false){

    document.querySelector("#searchBarInput").classList.add('shakeyShakey');

    } else {
      var decisionList = $("input[type='text']").val();
    // add item as an li
    $("input[type='text']").val("");
    $("ul").append("<li>" + decisionList + "</li>")
    data.push(decisionList)
    }
  
  
})

var result = [];

// LETS DECIDE button --- on button click, generate random number with a max of data.length and render it as an index of the origional data
$('button[id=decideBtn]').click(function(){
      randomNum = Math.floor(Math.random()* data.length)
      // alert(data[randomNum])
      result = data[randomNum]

      // remove the ul from view
      $("ul").addClass("ulList")

      if(data.length >= 1){
        // add the result to the result card
        // visual title
      $("h1[id='resultTitle']").append(result + "!");
        // add value to input field
      $("input[id='answer']").val(result);
      // make result card visible
      $("div[id='result']").toggleClass("resultHeader")

    // make innitial title card invisible
    $("div[id='startingHeader']").toggleClass("hidden")
    // make search bbar and button invisible
    $("div[id='searchBar']").toggleClass("hidden")
    } else {
      // flash alert banner
      $("div[id='alertBanner']").toggleClass('hidden');
      $("span[id='1']").click(function(){
      location.reload(true) 
    })
    }
      


});



$('a[id="reRoll"]').click(function(){
  // remove the index of the decison list previously rolled
  if(data.length <= 1){
    $("div[id='resultBanner']").toggleClass('hidden')
    $("span[id='2']").click(function(){
      location.reload(true) 
    })
    } else {
    // take out skipped index
    data.splice(randomNum, 1);
  // randomly select another item from the updated list
  randomNum = Math.floor(Math.random()* data.length)

      // fill rsult into text form
      result = data[randomNum]
      $("input[id='answer']").val(result);

  // clear previous displayed result
      $("h1[id='resultTitle']").empty()
  // upadte rsult card
    $("h1[id='resultTitle']").prepend(result + "!");
    // give the a tag in the main form the value of the result


    if(data.length <= 1){
      $("h6[class='card-subtitle mb-2 text-muted']").empty("");
      $("h6[class='card-subtitle mb-2 text-muted']").append("Nothin left to remove!");
    }  
    }

   

})
 document.getElementById("go").onclick = function() {
    document.getElementById("goForm").submit();
}

</script>

<%- include("../partials/footer") %> 