body {
  display: flexbox;
  background-color: #455c66;
  align-items: center;
}

#logo{
  color: rgb(19, 19, 19);
  font-size: 1em;
  float: left;
  text-decoration: underline;
}
#home{
  color: rgb(19, 19, 19);
  font-size: 1em;
  float: right;  
  text-decoration: underline;

}
#logoCont{
  margin: .5em 0 2em 0;
  padding-top: .5em;  
  padding-bottom: .5em;  
  background-color: #618391;
  box-shadow: 3px 3px 5px black;
}
#logoBanner{
  float: left;
}

.resultHeader {
display: none;
}

.ulList {
  display: none;
}

.hidden {
  display: none;
}

.visible {
  display: inline;
}

.jumbotron{
    margin: 2em auto auto auto;
}

#resLinks{
display: flex;
align-items: left;
justify-content: space-around;
padding: .5em 1em .5em 1em; 
} 

#go{
  background-color: #c8d8e0 ;
      padding: .5em 1em .5em 1em;
      box-shadow: 3px 3px 5px grey;
}
#reRoll{
  background-color: #c8d8e0 ;
      padding: .5em 1em .5em 1em;
      box-shadow: 3px 3px 5px grey;
}
#searchDiv{
  justify-content: center;
  width: 100%;
  margin-bottom: 1em;
}
#goDiv{
  justify-content: center;
  height: 3em;
}
#decideBtn{
  width: 100%;
  height: 100%;
  justify-content: center;
  box-shadow: 3px 3px 5px grey;
}
#bottomTextDiv{
  justify-content: center;
  margin: 0;
  padding-top: 1em;
}

#input-group{
  width: 100%;
}

.card-link{
  padding: 1em;
  font-size: 1em;
}

#mainCard {
justify-content: center;
}

.card-body{
justify-content: center;}






