body {
  display: flexbox;
  background-color: #455c66;
  align-items: center;
}

#logo{
  color: rgb(19, 19, 19);
  font-size: 1.25em;
  float: left;
  /* margin-bottom: 1em; */
  /* padding: 3em; */
}
#logoCont{
  /* display: flex; */
  margin-bottom: 1em;
  padding-top: 1em;  
  /* justify-content: space-around; */

}
#logoBanner{
  float: left;;
}

.resultHeader {
display: none;
}

.ulList {
  display: none;
}

.hidden {
  display: none;
}

.visible {
  display: inline;
}

.jumbotron{
    margin: auto;
}

#resLinks{
display: flex;
align-items: left;
justify-content: space-around;
}

.card-link{
  padding: 1em;
  font-size: 1em;
}

#mainCard {
justify-content: center;
}

.card-body{
justify-content: center;}






