<%- include("../partials/header") %> 


  <script>
    "use strict";
      let map;
      let service;
      let infowindow;

  function initMap() {
    var infowindow = new google.maps.InfoWindow();
    let answer = document.getElementById('result').innerHTML;   

    map = new google.maps.Map(document.getElementById("map"), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 12
          });

      function createMarker(place) {
        const marker = new google.maps.Marker({
          map,
          animation: google.maps.Animation.DROP,
          position: place.geometry.location
        });
        marker.addListener("mouseover", function() {
        var inforwindow = new google.maps.InfoWindow({
        })
          var directionLink = "https://www.google.com/maps/search/?api=1&query=";
          infowindow.setContent(place.name + '</br>' + '<a href="https://www.google.com/maps/search/?api=1&query=' + encodeURI(place.name) + '"target="_blank">' + "More Info" + '</a>' );
          infowindow.open(map, marker);
        });
      } 
      
    var pos;
    navigator.geolocation.getCurrentPosition(success, error);

    function setCenterMap(){
            // set map center and create marker
            map.setCenter(pos);
              var CurrentPos = new google.maps.Marker({
                      position:pos,
                      map:map,
                      icon: "https://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png"
                    });
          }

    function success(pos){
      // give geolocation to variable pos
        pos = {
                lat: pos.coords.latitude,
                lng: pos.coords.longitude
              };
      // set map center and mark with pin --- setCenterMap func not working here...?
      map.setCenter(pos);
        var CurrentPos = new google.maps.Marker({
                position:pos,
                map:map,
                icon: "https://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png"
              });
      // setCenterMap(pos);

      // mark locations.
              // req props
              const request = {
          query: answer,
          fields: ["name", "geometry"],
          location: {lat: pos.lat, lng: pos.lng},
          radius: 8093
          };

        service = new google.maps.places.PlacesService(map);
          // if request is blank ...
        if(request.query == false){
          $('div[id="resultsDiv"]').addClass("hidden")
          } else {
        service.textSearch(request, (results, status) => {  
          if(results == false){
            document.getElementById('h1Header').innerHTML = "No results for (" + request.query + "). Try searching again!"
            $('div[id="resultsDiv"]').addClass("hidden")
          } else {  
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            for (let i = 0; i < 5; i++) {
              createMarker(results[i]);
              const resultCont = document.getElementById('resCards');
              const placeUrl = "https://www.google.com/maps/search/?api=1&query=" + encodeURI(results[i].name);
              // add name, rating and info link to each li
              const resultsCards = 
              `
              <li>
              <div class="card col-12">
                <img id="cardImg" src="${results[i].photos[0].getUrl()}" class="card-img-top" alt=" src='https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80'">
                <div class="card-body">
                  <h5 class="card-title">${results[i].name}</h5>
                  <p class="card-text">$ ${results[i].price_level}/5</p>
                  <p class="card-text">Rating: ${results[i].rating} </p>
                  <a id="resCardLink" href="${placeUrl}" target="_blank" class="btn btn-primary">Get More Info!</a>
                </div>
              </div>
            </li>
            `;
            resultCont.innerHTML += resultsCards;
              }
            }
          }
        });
      }

      }
      function error(err){
        // if location not found...
            // prompt for location if none found from device
            let locPrompt = "";
            while (locPrompt == null || locPrompt == ""){
              locPrompt = prompt("Please enter your zip code!");
            }
          // apply response to URL encoded variable
          let urlLoc = encodeURI(locPrompt);
          
          // let locPrompt = prompt("Please enter your zip code!");
          // let urlLoc = encodeURI(locPrompt);
          // console.log("loc:" + locPrompt);

            // put URL encoded response into geocoding api
            let geocodingLoc = "https://maps.googleapis.com/maps/api/geocode/json?address=" + urlLoc + "&key=AIzaSyAVTONnjQDRFUmOBIVDA7306DTuTWPJfAw";
            // get results from geocoding api
          $.get( geocodingLoc, function( data ) {
              // get access to lat and lng and give it to pos variable
              if (data.results[0].geometry.location) {
               pos = data.results[0].geometry.location;
              // set map center and create marker
              setCenterMap();
              // create result cards
              const request = {
            query: answer,
            fields: ["name", "geometry"],
            location: {lat: pos.lat, lng: pos.lng},
            radius: 8093,
          };
          service = new google.maps.places.PlacesService(map);
          if(request.query == false){
            $('div[id="resultsDiv"]').addClass("hidden")
            } else {
              service.textSearch(request, (results, status) => {
                if(results == false){
                  document.getElementById('h1Header').innerHTML = "No results for (" + request.query + "). Try searching again!"
                  $('div[id="resultsDiv"]').addClass("hidden")
                } else {  
                  if (status === google.maps.places.PlacesServiceStatus.OK) {
                    for (let i = 0; i < 5; i++) {
                      createMarker(results[i]);
                      const resultCont = document.getElementById('resCards');
                      const placeUrl = "https://www.google.com/maps/search/?api=1&query=" + encodeURI(results[i].name);
                      // add name, rating and info link to each li
                      const resultsCards = 
                      `
                      <li>
                      <div class="card col-12">
                        <img id="cardImg" src="${results[i].photos[0].getUrl()}" class="card-img-top" alt=" src='https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80'">
                        <div class="card-body">
                          <h4 class="card-title">${results[i].name}</h4>
                          <p class="card-text">$ ${results[i].price_level}/5</p>
                          <p class="card-text">Rating: ${results[i].rating} </p>
                          <a id="resCardLink" href="${placeUrl}" target="_blank" class="btn btn-primary">Get More Info!</a>
                        </div>
                      </div>
                    </li>
                    `;
                    resultCont.innerHTML += resultsCards;
                      }
                    }
                  }
            });
          }
        } else {
          alert(data.error_message);
        }
              }
              );
      }
    }
  </script>
<div class="containter-fluid col-12">
      <div id="map-jumbotron" class="jumbotron col-md-8 ">
        <div class="row title">
          <div class="col-8">
            <h1 id="h1Header">Nearby Results for - <%= answer %></h1>
            <h2 style="visibility: hidden;" id="result"><%= answer %></h2>
          </div>
          <div class="col-4" id="goBackBtn">
            <a id="homeLink" href="/start">Go Home</a>
          </div>
        </div>
        <div class="row mapDiv">
          <div class="col-12 ">
                <div id="map"></div>
          </div>
        </div>
          <hr>
        <div id="resultsDiv" class="row results">
          <div class="col-12" id="resCol">
            <div id="right-panel">
              <h2>Top Results for "<%= answer %>"!</h2>
              <div id="resCardsDiv" class="col-12">
                <ul id="resCards"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
</body>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVTONnjQDRFUmOBIVDA7306DTuTWPJfAw&libraries=places&v=weekly&callback=initMap"
  async
 ></script>
</html>