
  <%- include("../partials/header") %> 





<div class="container">
    <div class="jumbotron col-md-8">
      <h1 class="display-4">Indicision</h1>
      <p class="lead">We all have a hard time deciding what to to eat. Indicision is here to help!</p>
      <hr class="my-4">
      <p>Enter the things that you are having a hard time deciding between and let the the Indicision end!</p>
      <a class="btn btn-primary btn-lg" href="/start" role="button">Learn more</a>
</div>
</div>
  
</body>
</html>






<%- include("../partials/footer") %> 



