
  <%- include("../partials/header") %> 





<div class="container-fluid roq-lg-8 col-lg-8 col-md-12">
    <div class="jumbotron col-lg-8 col-md-12">
      <div class="container-fluid">
         <div class="row" id="titleBanner">
          <div class="col-12">
                  <h1 class="display-4">Indecision</h1>
          </div>
          <div class="col-12">
            <p class="lead">We all have a hard time deciding sometimes. Indicision is here to help!</p>
          <hr class="my-4">
          </div>
      
    </div>
    <div class="row" id="bottomTxtAndButton">
      <div class="col-12" >
        <p>Enter the restaurants, food types, activities or anything else that you are deciding between and<br> let the the Indicision end!</p>
      </div>
      <div class="col-6">
        <a class="btn btn-primary btn-lg" id="getStarted" href="/start" role="button">Let's Get Started!</a>
      </div>
      
    </div>
      </div>
       
      
  </div>
    
</div>
  
</body>
</html>






<%- include("../partials/footer") %> 



