
  <%- include("../partials/header") %> 





<div class="container-fluid roq-lg-8 col-lg-8 col-md-12">
    <div class="jumbotron col-lg-8 col-md-12">
      <div class="container-fluid">
         <div class="row" id="titleBanner">
          <div class="col-12">
                  <h1 class="display-4">Indecision</h1>
          </div>
          <div class="col-12">
            <p class="lead">We all have a hard time deciding what to to eat. Indicision is here to help!</p>
          <hr class="my-4">
          </div>
      
    </div>
    <div class="row" id="bottomTxtAndButton">
      <p>Enter the things that you are having a hard time deciding between and let the the Indicision end!</p>
      <a class="btn btn-primary btn-lg" href="/start" role="button">Let's Get Started!</a>
    </div>
      </div>
       
      
  </div>
    
</div>
  
</body>
</html>






<%- include("../partials/footer") %> 



